import { {{pascalCase name}}Props } from "./types";

const {{pascalCase name}} = ({}: {{pascalCase name}}Props) => {
  return (
    <div>
      <h1></h1>
    </div>
  );
};

export default {{pascalCase name}};
